<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="./css/styles_fonts.css">
<link rel="stylesheet" type="text/css" href="./css/styles_header.css">
<link rel="stylesheet" type="text/css" href="./css/styles_cadastrar.css">
<link rel="stylesheet" type="text/css" href="./css/styles_visualizar_desktop.css">
<link rel="stylesheet" type="text/css" href="./css/styles_visualizar_mobile.css">
<link rel="stylesheet" type="text/css" href="./css/styles_footer.css">
<link rel="stylesheet" type="text/css" href="./css/styles_responsive.css">
</head>

<body>

<div class="master">
   
   <!-- HEADER SECTION-->

   <div class="header">
      <nav class="navigation-bar" id="myTopnav">
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <img class="drop_icon" src="./icones/hamburguer.svg"/>
	    <img class="drop_icon_aberto" src="./icones/hamburguer-aberto0.svg"/>
	 </a>
         <img class="logo" src="./imagens/logo-in8-dev.svg">
         <a href="#"></a>
         <a href="#"></a>
         <a href="#"></a>
         <a href="#">Sobre mim</a>
         <a href="#">Lista</a>
         <a href="#">Cadastro</a>
      </nav>

      <div class="titulo">
         <span class="estagio">ESTÁGIO</span>
         <span class="selecao">PROVA DE SELEÇÃO</span>
      </div>
   </div>

   <!-- CADASTRAR SECTION-->

   <div class="cadastrar">
      <div class="aa">
	 <div  class="titulo_cadastrar"><span>Cadastrar</span></div>
            <form class="form_cadastrar" action="" method="post">
               <label>Name:</label>
               <input type="text" name="nome">

               <label>E-mail:</label>
               <input type="text" name="email">

               <label>Nascimento:</label>
               <input type="text" name="nascimento">

               <label>Telefone:</label>
               <input type="text" name="Cadastrar">

               <input type="submit" value="Cadastrar">
            </form>
	</div>
      </div>
   </div>   

   <!-- VISUALIZAR SECTION-->

   <div class="table">

      <!-- DESKTOP -->

      <div class="table_internal">
         <div  class="titulo_lista"><span>Lista de Cadastro</span></div>

         <table class="table_desktop">
	    <tr>
		<th></th><th>NOME</th><th>E-MAIL</th><th>NASCIMENTO</th><th>TELEFONE</th>
	    </tr>

            <tr>
               <td>1</td><td>Fulano Beltrano Oliveira da Silva</td><td>fulano@gmail.com</td><td>13/10/1995</td><td>(31) 9876 5432</td>
            </tr>

            <tr>
               <td>2</td><td></td><td></td><td></td><td></td>
            </tr>

            <tr>
               <td>3</td><td></td><td></td><td></td><td></td>
            </tr>

            <tr>
               <td>4</td><td></td><td></td><td></td><td></td>
            </tr>
         </table>
       </div>
	
      <!-- MOBILE -->

      <div class="tab_section">

         <div class="tab">
<!--
            <button class="tablinks" onclick="openCity(event, 'London')">London</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
	    <button class="tablinks" onclick="openCity(event, 'Berlin')">Berlin</button>-->
         </div>
<!--
         <div id="London" class="tabcontent">
            <table class="table_mobile">
               <tr><td class="label">NOME</td><td class="content">Fulano Beltrano</td></tr>	 
               <tr><td class="label">EMAIL</td><td class="content">fulano@gmail.com</td></tr>	 
               <tr><td class="label">NASC.</td><td class="content">10/09/1992</td></tr>	 
               <tr><td class="label">TEL.</td><td class="content">(31) 9876 5432</td></tr>	 
            </table>
         </div>

         <div id="Paris" class="tabcontent">
            <table class="table_mobile">
               <tr><td class="label">NOME</td><td class="content">Fulano Beltrano</td></tr>	 
               <tr><td class="label">EMAIL</td><td class="content">fulano@gmail.com</td></tr>	 
               <tr><td class="label">NASC.</td><td class="content">10/09/1992</td></tr>	 
               <tr><td class="label">TEL.</td><td class="content">(31) 9876 5432</td></tr>	 
            </table>
         </div>

          <div id="Tokyo" class="tabcontent">
            <table class="table_mobile">
               <tr><td class="label">NOME</td><td class="content">Fulano Beltrano</td></tr>	 
               <tr><td class="label">EMAIL</td><td class="content">fulano@gmail.com</td></tr>	 
               <tr><td class="label">NASC.</td><td class="content">10/09/1992</td></tr>	 
               <tr><td class="label">TEL.</td><td class="content">(31) 9876 5432</td></tr>	 
            </table>
          </div>

          <div id="Berlin" class="tabcontent">
            <table class="table_mobile">
               <tr><td class="label">NOME</td><td class="content">Fulano Beltrano</td></tr>	 
               <tr><td class="label">EMAIL</td><td class="content">fulano@gmail.com</td></tr>	 
               <tr><td class="label">NASC.</td><td class="content">10/09/1992</td></tr>	 
               <tr><td class="label">TEL.</td><td class="content">(31) 9876 5432</td></tr>	 
            </table>
         </div>
-->
      </div>

      <!-- END MOBILE -->
   </div>

   <!-- FOOTER SECTION -->
   
   <div class="bottom">
      <div class="bottom_informacoes">
         <span class="bottom_nome">Fulano Beltrano</span>
         <span class="bottom_email">fulano@gmail.com</span></br>
         <span class="bottom_nascimento">13/09/1992</span></br>
         <span class="bottom_telefone">(31) 98765 4321</span>
      </div>
   </div>

</div>

<script src="./js/responsive.js"></script>
<script src="./js/visualizar_mobile.js"></script>
<script src="./js/preencher_automatico.js"></script>
</body>
</html>
