.table {
  display: inline-block;
  width: 100%;
}

.table_internal {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: pink;
}

.titulo_lista {
  display: table;
  font-size: 25px;
  margin: 0 auto;
  color: #29abe2;
}

.table_desktop {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
}


.table_desktop th {
  height: 50px;
  text-align: center;
  color: #012d51;
}

.table_desktop tr {
  height: 50px;
  text-align: center;
  width: 100%;

}

.table_desktop tr td {
  width: 22%;
}


.table_desktop tr th:first-child,
.table_desktop tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  word-break: break-all;
  color: #012d51;
}

.table_desktop {
    border:none;
    border-collapse: collapse;
}

.table_desktop td {
    border-left: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
    border-top: 1px solid #29abe2;
    color: #808080;
}

.table_desktop th {
    border-left: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
}

.table_desktop td:first-child {
    border-left: none;
}

.table_desktop th:first-child {
    border-left: none;
}

.table_desktop td:last-child {
    border-right: none;
}

.table_desktop th:last-child {
    border-right: none;
}

.table_desktop td:last-child {
  border-bottom: none;
}

.tab_section {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;

}
.tab {
  display: none;
  justify-content: space-between;
  border: none;
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 20px;
}

.tab .tablinks {
  display: inline;
  float: left;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-top: 2px solid #29abe2;
  border-right: 2px solid #29abe2;
  border-left: 2px solid #29abe2;
  border-bottom: none;
  width: 24%;
}

.divider {
  display: inline;
  width: 15px;
  height: auto;
  background: black ;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  border: 2px solid #29abe2;
  width: 100%;
  margin: 0 auto;

}

.table_mobile {
  width: 95%;
  height: 80%;
  vertical-align: top;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px ;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.table_mobile tr{
  height: 30px;
}
.table_mobile td{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #29abe2;
    color: #808080;

  text-align: left;
}

.table_mobile td.label {
   width:20%
}

.table_mobile td.content {
   width:80%;
}
