.master {
  background: yellow;
  width: 100%;
  height: 100%;
}

.cabecalho_secao {
  display: inline-block;
  background: url("/imagens/index-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.cabecalho_menu {
  width: 50%; 
  height: 40px;
  margin: 0 auto;
}

.cabecalho_logo {
  display: inline-block;
  height: 30px;
  width: 80px;
}

.cabecalho_menu .cabecalho_icon {
  display: none;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.drop_icon_fechado, .drop_icon_aberto {
  height: 30px;
  width: 40px;
}

.cabecalho_menu > a {
  display: inline-block;
  float: right;
  padding: 10px;
  font-family: RobotoRegular;
  color: white;
  outline: none;
}

.cabecalho_menu > a:link,
.cabecalho_menu > a:hover,
.cabecalho_menu > a:visited {
  text-decoration: none;
}

.cabecalho_titulo {
  margin-top: 300px;
  margin: 0 auto;
  color: white;
  width: 50%;
  height: 100px;
}

.cabecalho_estagio {
  display: flex;
  margin-top: 150px;
  font-size: 60px;
  font-family: HelveticaUltra;
}

.cabecalho_selecao {
  font-size: 26px;
  font-family: HelveticaUltra;
}

@media screen and (max-width: 1200px) {
  .cabecalho_menu a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .cabecalho_menu .cabecalho_icon.drop_icon_fechado {
    float: left;
    display: block;
  }

  .cabecalho_menu .drop_icon_aberto {
    display: none;
  }

  .cabecalho_menu .cabecalho_logo {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  .cabecalho_menu.responsive {position: relative;}
  .cabecalho_menu.responsive .cabecalho_icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .cabecalho_menu.responsive a {
    float: none;
    display: block;
    text-align: left;
    background: #29abe2;
    color: white;
    width: 60%;
  }

  .cabecalho_menu.responsive .drop_icon_fechado {
    display: none;
  }

  .cabecalho_menu.responsive .drop_icon_aberto {
    display: block;
    float: left;
  }

  .cabecalho_titulo {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
   .cabecalho_secao {
      background: url("/imagens/index-image-mobile.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 800px;
   }
}
