.visualizar_mobile {
  display: none;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;

}
.visualizar_aba {
  width: 100%;
  justify-content: space-between;
  border: none;
  background-color: #f1f1f1;
  margin-top: 20px;
}

.visualizar_aba .btn_aba {
  display: inline;
  float: left;
  width: 24%;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s;
  border-top: 2px solid #C0C0C0;
  border-right: 2px solid #C0C0C0;
  border-left: 2px solid #C0C0C0;
  border-bottom: none;
  color: #C0C0C0;
  font-size: 18px;
}

.visualizar_aba button:hover {
  background-color: #ddd;
}

.visualizar_aba button.active {
  border-top: 2px solid #29abe2;
  border-right: 2px solid #29abe2;
  border-left: 2px solid #29abe2;
  border-bottom: none;
  color: #29abe2;
  outline: none;
  background: white;
}

.visualizar_aba button.active::-moz-focus-inner {
   border: 0;
}

.visualizar_conteudo {
  display: none;
}

.conteudo {
  display: none;
  width: 100%;
  border: 2px solid #29abe2;
  margin: 0 auto;

}

.tabela_mobile {
  width: 95%;
  height: 80%;
  vertical-align: top;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px ;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.tabela_mobile tr{
  height: 30px;
}

.tabela_mobile td{
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #29abe2;
  color: #808080;
  text-align: left;
}

.tabela_mobile td.rotulo {
  width:20%
}

.tabela_mobile td.info {
  width:80%;
}

@media screen and (max-width: 600px) {
  .visualizar_mobile {
    display: block;
    width: 80%;
  }

  .visualizar_aba {
    display: flex;
  }

  .visualizar_conteudo {
    display: block;
  }

  .conteudo:first-child {
    display: block;
  }
}
