.secao_visualizar {
  display: flex;
  width: 100%;
  background: white;
}

.visualizar_desktop {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.visualizar_titulo {
  display: table;
  font-size: 35px;
  margin: 0 auto;
  color: #29abe2;
  font-family: HelveticaUltra;
}

.tabela_desktop {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  border:none;
  border-collapse: collapse;
}

.tabela_desktop th {
  height: 50px;
  text-align: center;
  color: #012d51;
  font-family: RobotoRegular;
}

.tabela_desktop tr {
  height: 50px;
  text-align: center;
  width: 100%;

}

.tabela_desktop td {
  border-left: 1px solid #29abe2;
  border-right: 1px solid #29abe2;
  border-top: 1px solid #29abe2;
  color: #808080;
  font-family: HelveticaCondensed;
}

.tabela_desktop tr td {
  width: 22%;
}

.tabela_desktop tr th:first-child,
.tabela_desktop tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  word-break: break-all;
  color: #012d51;
}

.tabela_desktop th {
  border-left: 1px solid #29abe2;
  border-right: 1px solid #29abe2;
}

.tabela_desktop td:first-child {
  border-left: none;
  color: #012d51;
}

.tabela_desktop th:first-child {
  border-left: none;
}

.tabela_desktop td:last-child {
  border-right: none;
}

.tabela_desktop th:last-child {
  border-right: none;
}

.tabela_desktop td:last-child {
  border-bottom: none;
}

@media screen and (max-width: 1200px) {
  .visualizar_desktop {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .visualizar_desktop {
    display:none;
  }
}
